language: cpp

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env:
        - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"

before_install:
  - wget http://195.176.181.79/nodeprof.js/labsjdk-8u161.tgz
  - tar xvf labsjdk-8u161.tgz
  - git clone https://github.com/graalvm/mx.git

before_script:
  - export JAVA_HOME=$TRAVIS_BUILD_DIR/labsjdk1.8.0_161-jvmci-0.42
  - export PATH=$PATH:$TRAVIS_BUILD_DIR/mx
  - export CC=gcc-5
  - export CXX=g++-5

script:
  - mx sforceimports
  - mx build
  - mx jalangi src/ch.usi.inf.nodeprof/js/analysis/basics/invokeTest.js src/ch.usi.inf.nodeprof.test/js/minitests/element.js 
  - mx test
